.titulo{
    background-color: rgba(203, 50, 52, 0.6);
  }
  
  .logoSantafe{
    background-color: rgba(0, 0, 0);
  }
  
  .columnaSuperior{
    background-color: rgba(0, 0, 0);
  }
  
  .cambiarColor{
    color: rgba(0,0,0);
  }